build
other
stromrallye.log
stromrallye.aux
stromrallye.m
stromrallye.out
stromrallye.tex
stromrallye.toc
stromrallye.aux
stromrallye.bbl
stromrallye.bcf
stromrallye.bib
stromrallye.bib.bbl
stromrallye.bib.blg
stromrallye.blg
stromrallye-blx.bib
stromrallye.log
stromrallye.m
stromrallye.out
stromrallye.run.xml
stromrallye.tex
stromrallye.tex.bak
stromrallye.toc

